<div class="w-full flex flex-col items-center justify-center">
   <div class="py-20 mx-auto text-center">
      <h2 class="text-3xl"><%= @restaurant.name %></h2>

      <% if @anonymous_client %>
        <div class="hidden md:block">
          <%= render 'layouts/shopping_cart', shopping_cart: @shopping_cart %>
        </div>
      <% end %>
    </div>

  <div class="categories w-full space-y-5 flex flex-col items-center">
    <% if @restaurant.menu %>
      <% @restaurant.menu.categories.each do |category| %>
        <div class="w-11/12 border rounded-lg shadow-sm flex flex-col p-6 bg-white" data-controller="accordion">
          <div class="flex flex-row items-center">
            <h1 class="text-xl"><%= category.name %></h1>

            <button class="ml-auto cursor-pointer text-blue-500" data-action="click->accordion#toggle" aria-label="Toggle Items">
              <svg data-accordion-target="icon"
                xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6" id="down-arrow"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden" id="up-arrow">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
              </svg>
            </button>
          </div>

          <div class="items gap-4 mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <% category.items.each do |item| %>
              <div class="relative border rounded-lg shadow-sm w-full h-fit flex flex-row p-2 space-x-4">
                <% if @anonymous_client %>
                  <%= link_to shopping_carts_add_path(item_id: item.id), class: "absolute -top-3 -right-1 bg-green-500 rounded-full",
                    data: { turbo_method: :patch, turbo_frame: '_top' } do
                  %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <span class="sr-only">Add to cart Icon</span>
                  <% end %>
                <% end %>
                <img class="my-2 w-[100px] border rounded-lg" src="https://generatorfun.com/code/uploads/Random-Food-image-7.jpg" />

                <div class="flex flex-col items-start justify-center space-y-5 lg:space-y-0 lg:m-0">
                  <h1 class="text-md"><%= item.name %></h1>

                  <span class="text-sm font-bold"><%= number_to_currency(item.price, precision: 2) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h2 class="text-2xl"><%= t('restaurants.show.empty_menu') %></h2>
    <% end %>
  </div>
</div>
