<%= form_with model: item, url: url, method: method do |f| %>
  <div class="w-full flex flex-col space-y-2">
    <%= f.label :name  %>
    <%= f.text_field :name, class: "w-full py-2 px-4 border rounded-lg" %>
    <span class="text-red-500"><%= f.object.errors[:name].to_sentence %></span>
  </div>

  <div class="w-full flex flex-col space-y-2">
    <%= f.label :price  %>
    <%= f.text_field :price, class: "w-full py-2 px-4 border rounded-lg" %>
    <span class="text-red-500"><%= f.object.errors[:price].to_sentence %></span>
  </div>

  <div class="w-full flex flex-col space-y-2">
    <%= f.label :description  %>
    <%= f.text_area :description, class: "w-full py-2 px-4 border rounded-lg" %>
    <span class="text-red-500"><%= f.object.errors[:description].to_sentence %></span>
  </div>

  <div class="w-full flex items-center justify-end space-x-4">
    <%= link_to t('helpers.cancel'), edit_menu_path(item.category.menu), class: "text-red-500" %>
    <%= f.submit class: "py-2 px-4 text-black bg-amber-300 border rounded-lg shadow" %>
  </div>
<% end %>
